__pycache__/
.source.txt
*.crt
*.dbg
*.prg
*.pyc
*.sym
*.vs
binaries/*
build/
cloud/.env
cloud/static/*
cloud/static/assets/*
cloud/dist/hdnsh-server-linux
cloud/hdnsh-server-linux.spec
data/**
docs/assets/*.bkp
docs/c64os/**
docs/c64os/c64os-dev
docs/c64os/TextViewPlus
docs/inspiration/*
docs/ramdos.zip
hdnsh.bin
msbasic/
ui/dist/*
ui/node_modules/
venv/
