__pycache__/
.source.txt
*.crt
*.dbg
*.prg
*.pyc
*.sym
*.vs
binaries/*
build/
cloud/cloud_config.cfg
cloud/dist/hdnsh-server-linux
cloud/static/assets/*.bkp
cloud/workspace/
data/**
docs/assets/*.bkp
docs/c64os/**
docs/c64os/c64os-dev
docs/c64os/TextViewPlus
docs/inspiration/*
docs/ramdos.zip
hdnsh.bin
msbasic/
reu.img
robik-d2d55-02522689b916.json
ui/dist/*
ui/node_modules/
venv/
release/**
release/hdnsh-server-linux
