build/
*.prg
*.crt
*.vs
*.sym
*.dbg
*.pyc
__pycache__/
.source.txt
hdnsh.bin
venv/
msbasic/
docs/ramdos.zip
data/**
cloud/.env
docs/assets/*.bkp
binaries/*
docs/inspiration/*
docs/c64os/TextViewPlus
docs/c64os/c64os-dev
docs/c64os/**
